* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* inizio regole generali */

body{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    min-width: 1000px;
}

.container{
    width: 80vw;
    height: 90vh;
    margin: 0px auto;
    position: absolute;
    transform: translate(12%, -10%);
    background-color: grey;
    min-width: 1000px;
}

.container::after{
    display: table;
    content: "";
    clear: both;
}

.line-blue{
    height: 100px;
    background-color: #479388;
    position: relative;
}

/* fine regole generali */

/* inizio struttura app */
.left{
    float: left;
    width: 30%;
    height: 100%;
    background-color: white;
}

.rigth{
    float:right;
    width: 70%;
    height: 100%;
    background-color: white;
}

/* inizio parte sinistra dell'app */
.header-left{
    height: 80px;
    padding: 10px 10px;
    background-color: lightgray;
}

.header-left::after{
    content: "";
    clear: both;
    display: table;
}

.header-left-img{
    float: left;
    width: 60%;
    display: flex;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
}

.header-left-icons{
    float: right;
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    color: #B1B1B1;    
    font-size: 23px;
    flex-shrink: 0;
}

.header-left-img img{
    height:50px;
    width: 25%;
    border-radius: 50%;
    margin-right: 10px;
}

/* inizio parte blu delle notifiche a sinistra */

.notification{
    height: 80px;
    background-color: #9fd8f8;
    color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.notification-icon{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}
.notification-icon i{
    color: aqua;
    font-size: 30px;
}
.notification-text{
    margin-left: auto;
}
.notification-text a{
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
}

.notification-text h4{
    padding-bottom: 5px;
}
/* fine parte blu delle notifiche a sinistra */

/* inizio barra di ricerca */
.container-search{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    flex-shrink: 0;
    position: relative;
}

.container-search i{
    position: absolute;
    top: 12px;
    left: 10px;
    color: #B1B1B1;
}


.search{
    width: 98%;
    border-radius: 20px;
    height: 30px;
    border: 1px solid white;
    padding: 0px 10px;
    color: #B1B1B1;
    text-align: center;
}
/* fine barra di ricerca */

/* inizio parte chat */

.container-chat{
    height: 80px;
    display: flex;
    padding: 15px 15px;
}

.sidebar-chat{
    height: 100%;
}

.container-chat-logo{
    display: flex;
    align-items: center;
}

.container-chat-logo img{
    height:60px;
    width: 100%;
    border-radius: 50%;
    margin-right: 10px;    
}

.container-chat.active, .container-chat:hover{
    background-color: #eaeaea;
}

.text-contact{
    max-width: 23ch;
    text-overflow: ellipsis;
}

.text-contact-right{
    text-align: right;
    color: #B1B1B1;
    font-size: 10px;
    margin-left: auto;
}

/* fine parte chat */

/* fine parte sinistra dell'app */

/* inizio struttura parte destra dell'app */

/* inizio header right */

.header-right{
    height: 80px;
    background-color: lightgray;
}

.header-right::after{
    content: '';
    clear: both;
    display: table;
}
.header-right .container-chat{
    width: 80%;
    float: left;
}
.header-right-text{
    float: right;
    width: 20%;
    background-color: lightgray;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-header-rigth{
    color: #757272;
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
}

/* fine header right */

.header-right-text i{
    padding: 0px 20px;
    color: #B1B1B1; 
}

/* inizio main dove verranno mostrati i messaggi */

.main-right{
    height: calc(100% - 130px);
    background-image: url(img/mine.jpg);
    padding: 20px 50px;
    overflow-y: scroll;
}

.message{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.message.received{
    background-color: white;
    margin-top: 10px;
}

.message.sent {
    background-color: #d5f9ba;
    margin-left: auto;
    margin-top: 10px;
}

.text-bottom-right{
    text-align: right;
    color: #B1B1B1;
    font-size: 10px;
}
/* fine main dove verranno mostrati i messaggi */

/* inizio del footer */

.footer-right{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: lightgrey;
}

.footer-right i{
    color: #757373;
}

.footer-right input{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 0px 10px;
}

/* fine del footer */
/* fine struttura parte destra dell'app */


/* fine struttua app */